Options +FollowSymlinks -MultiViews
RewriteEngine on

RewriteRule ^accueil$ /controller/accueil_controller.php [L]
RewriteRule ^ajoutlieu$ /controller/ajoutlieu_controller.php [L]
RewriteRule ^lieux1$ /controller/affichagelieu_controller.php [L]
RewriteRule ^modifier/(.*)$ /controller/updatelieu_controller.php?nom=$1 [L]
RewriteRule ^lieux/supprimer/(.*)$ /controller/deletelieu_controller.php?nom=$1 [L]
RewriteRule ^lieux/(.*)$ /controller/affichagedulieu_controller.php?nom=$1 [L]
