Options +FollowSymlinks -MultiViews
RewriteEngine on

RewriteRule ^accueil$ /controller/accueil_controller.php [L]
RewriteRule ^ajoutlieu$ /controller/ajoutlieu_controller.php [L]
RewriteRule ^lieux1/modifier/ajoutlieu /controller/ajoutlieu_controller.php [L]
RewriteRule ^lieux1/supprimer/ajoutlieu /controller/ajoutlieu_controller.php [L]
RewriteRule ^lieux1/ajoutlieu /controller/ajoutlieu_controller.php [L]
RewriteRule ^lieux1/modifier/accueil /controller/accueil_controller.php [L]
RewriteRule ^lieux1/supprimer/accueil /controller/accueil_controller.php [L]
RewriteRule ^lieux1/accueil /controller/accueil_controller.php [L]
RewriteRule ^lieux1/modifier/(.*)$ /controller/updatelieu_controller.php?nom=$1 [L]
RewriteRule ^lieux1/supprimer/(.*)$ /controller/deletelieu_controller.php?nom=$1 [L]
RewriteRule ^lieux1$ /controller/affichagelieu_controller.php [L]
RewriteRule ^lieux1/(.*)$ /controller/affichagedulieu_controller.php?nom=$1 [L]
RewriteRule ^lieux1$ /controller/affichagelieu_controller.php [L]
