Options +FollowSymlinks -MultiViews
RewriteEngine on

RewriteRule ^accueil$ /controller/accueil_controller.php [L]
RewriteRule ^ajoutlieu$ /controller/ajoutlieu_controller.php [L]
RewriteRule ^lieux$ /controller/affichagelieu_controller.php [L]
