
body{font-family: "Raleway", sans-serif;
background-image: url("http://subtlepatterns.com/patterns/wood_pattern.png");
background-repeat: repeat;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.custom__addon {
    color: #fff;
    border: none;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.blue__addon {
    background-color: red;
}
.red__addon {
    background-color: #B73333;
}
.green__addon {
    background-color: #33B757;
}
.yellow__addon {
    background-color: #B7B433;
}
.purple__addon {
    background-color: #B733AC;
}
.custom__select {
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
