<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="gallery.css" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" />
        <title>Article News Card UI</title>
    </head>
    <body>
        <div id="wrapper">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="card-body-header">
                        <div class="card-body-header-category">Catégorie</div>
                        <h1>True Paradise on Earth: Unknown Place</h1>
                        <p class="card-body-header-sentence">
                            They call it <span>"</span>God's Own Country.<span>"</span>
                        </p>
                    </div>
                    <p class="card-body-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Molestias autem aliquid, recusandae maiores iste fuga,
                        explicabo dolor vitae magnam!
                    </p>
                    <div class="card-body-footer">
                        <i class="icon icon-time"></i> pseudo
                        <i class="icon icon-comment"></i> mot clé
                    </div>
                </div>
            </div>
        </div>
        <footer>Design <a href="https://www.twitter.com/kwak_justin" target="_blank">@kwak_justin</a> //
                Dev <a href="https://www.twitter.com/louistiti_fr" target="_blank">@louistiti_fr</a><br />
                <a href="http://www.louistiti.fr/tutoriel-html5-css3-carte-article-ui/33" target="_blank">Tutorial</a> (French)
        </footer>
    </body>
</html>
